.broadcast-title {
    margin-top: 1.5rem;
    width: 100%;
    padding-bottom: 0.75rem;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--secondary-2);
    background-color: var(--primary);
    color: var(--secondary-2);
    font-size: 20px;
}

.broadcast-title:focus {
    border-bottom: 2px solid var(--secondary-1);
    transition: border-bottom 300ms ease-in-out;
}

.broadcast-text-area {
    margin-top: 1.5rem;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 0;
    border-radius: 2px;
    color: var(--primary);
    font-size: 16px;
}

.broadcast-text-area:focus {
    border: 2px solid var(--secondary-1);
    transition: border-bottom 300ms ease-in-out;
}

.broadcast-team {
    margin-top: 1.5rem;;
    width: 100%;
    padding-bottom: 0.75rem;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--secondary-2);
    background-color: var(--primary);
    color: var(--secondary-2);
    font-size: 16px;
}

.broadcast-button-flex {
    display: flex;
    justify-content: center;
}

.broadcast-button {
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: var(--secondary-1);
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    color: var(--primary);
}

.broadcast-button:hover {
    background-color: #00BA8E;
}

