.meeting-block {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #999;
    background-color: white;
}

.meeting-block:hover {
    box-shadow: 2px 4px 4px #999;
}

.meeting-block h5{
    font-size: 16px;
}

.meeting-block span {
    font-size: 12px;
    opacity: 1;
    background-color: white;
    color: var(--primary);
}