@media screen and (min-width: 800px) {
    .wrapper {
        display: flex;
        gap: 1rem;
    }

    .wrapper .left {
        flex: 0.75;
    }
    
    .wrapper .middle {
        flex: 1.5;
    }
    
    .wrapper .right {
        flex: 1;
    }

    .project-list h4 {
        visibility: hidden;
    }

    .project-list .bottom {
        visibility: hidden;
    }
}

@media screen and (min-width: 1024px) {

    .project-list h4 {
        visibility: visible;
    }

    .project-list .bottom {
        visibility: visible;
    }
}


.block {
    padding: 2rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 10px;
    background-color: var(--primary);
}

.block-2 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
    background-color: var(--secondary-2);
    text-align: center;
    justify-content: space-around;
    min-height: 170px;
    box-shadow: 1px 2px 4px #999;
}

.block-2:hover {
    box-shadow: 3px 6px 4px #999;
}

.mt {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary);
}