.news-block {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #999;
    background-color: white;
}

.news-block:hover {
    box-shadow: 2px 4px 4px #999;
}

.news-block h5 {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.news-block p {
    font-size: 13px;
}